:root{
  --blue: hsl(194, 100%, 50%)
  --darker-purple: hsl(238, 60%, 16%)
  --dark-purple: hsl(255, 45%, 41%)
  --purple: hsl(252, 100%, 68%)
  --light-purple: hsl(281, 100%, 88%)
  --pink: hsl(334, 100%, 64%)
  --orange: hsl(32, 100%, 61%)
	}
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    html {
        @media (max-width: 1080px) {
            font-size: 93.75%; // 15px
        }
        @media (max-width: 720px){
            font-size: 87.5%; // 14px
        }
    }  
    body{
        background: var(--background);
        -webkit-font-smoothing: antialiased;
    }


    body, input, textarea, button{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
  
    }
    h1, h2, h3, h4, h5, h6, strong, b {
        font-weight: 600; 
    }
    button {
        cursor:pointer;
    }
    [disabled] {
        opacity: 0.6;
        cursor: not-allowed;
    }